---
import "../styles/global.css"
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
// Used to querry for data from your files ITS A PROMISE
const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle = "Blog"
---
<BaseLayout>
    <h1>My Astro {pageTitle}</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>
