<style>
    a {
        color: hsl(204, 100%, 35%);
        text-decoration: none;
        font-style: oblique;
    }

    a:hover {
        color: hsl(204, 100%, 50%);
        text-decoration: underline;
    }
</style>
<div class="nav-links">
    <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
</div>
